# SUPABASE
DATABASE_URL=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# MOLLIE - heeft een bereikbare url nodig, dus voor local development moet je een tunnel opzetten naar localhost:3000
# met volgende commando bv. `cloudflared tunnel --url http://localhost:3000` of `ngrok http 3000`
APP_URL=""
MOLLIE_API_KEY=""

# RESEND
RESEND_API_KEY=""

# GOOGLE REVIEWS
GOOGLE_PLACES_API_KEY=""

# SECRETS
ENCRYPTION_KEY=""
